
/* Everything properties */
* {
    box-sizing: border-box;
}

/* Body properties */
body {
    margin: 0px auto;
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;
    width: 1200px;
}

/* link hover color */
li a:hover:not(.active) {
}

/* Header/Blog Title */
.header {
    padding: 30px;
    text-align: center;
    background: white;
    box-shadow: 2px 2px 1px 2px lightgrey;
}

/* header h1 style */
.header h1 {
    font-size: 50px;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
    box-shadow: 2px 2px 1px 2px lightgrey;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
    float: left;
    width: 70%;
}

/* Center column */
.centercolumn {
    width: 100%;
}

/* Right column */
.rightcolumn {
    float: left;
    width: 30%;
    padding-left: 20px;
}

/* Input field */
.fieldsetinput {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

/* Input form */
.forminput {

}
/* Add a card effect for articles */
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 2px 2px 1px 2px lightgrey;
}

.card a:link {
    color: black;
}

.card a:visited {
    color: black;
}

.card a:hover {
    color: grey;
}

/* Add a card effect for articles */
.card2 {
    background-color: white;
    padding: 20px 350px 20px 350px;
    margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: white;
    margin-top: 20px;
    box-shadow: 2px 2px 1px 2px lightgrey;
}

/* Input style */
input[type=text], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Input style */
input[type=number], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Submit */
input[type=submit] {
    width: 25%;
    background-color: #333;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Submit */
input[type=submit]:hover {
    background-color: grey;
}

.link-tab a {
    text-decoration: none;
    line-height: 25px;
}

.user-tab a {
    text-decoration: none;
    line-height: 25px;
}

.link-tab {
    list-style-type: none;
}

.user-tab {
    list-style-type: none;
}

.link-tab li::before {
    content: "\f0c1";  /* this is your text. You can also use UTF-8 character codes as I do here */
    font-family: FontAwesome;
    padding-right: 20px;
}

.user-tab li::before {
    content: "\f007";  /* this is your text. You can also use UTF-8 character codes as I do here */
    font-family: FontAwesome;
    padding-right: 20px;
}
