* {
    font-family: -apple-system, BlinkMacSystemFont, Helvetica, sans-serif;
}

body {
    margin: 0px auto;
    background: #efefef;
    width: 800px;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: lightgrey;
    border-radius: 7px;
}

.active {
    background-color: #00ff;
}

#centrera {
    margin: 1px 1px 1px -67px;
}

table {
    border: 1px solid #ccc;
    margin: auto;
}

th {
    border-bottom: 1px solid #999;
}

td {
    padding: 0.3em;
}

td.right {
    text-align: center;
}

tr:hover {
    background-color: #eee;
}

fieldset {
    width: 120px;
    margin: auto;
}

a {
    text-decoration: none;
    padding-left: 20px;
    right: 20px;
}

.header-text a:link {
    color: white;
}

.header-text a:visited {
    color: white;
}

.header-text a:hover {
    color: grey;
}

#header {
    background: linear-gradient(#3b3b3b, #232323);
    clear: left;
    padding: 20px;
    text-align: center;
}

#footer {
    background-color: lightgrey;
    clear: left;
    padding: 10px;
    text-align: center;
}

#link-tab {
    width: 25%;
    float: right;
}

#link-tab a {
    text-align: center;
}

#container {
    height: 322px;
    padding-top: 20px;
    padding-bottom: 30px;

}
