<!doctype html>
<meta charset="utf-8">
<title><%= title %></title>
<link rel="stylesheet" href="/style/style.css">
<link rel="icon" href="/favicon.ico">

<header class = "header">
  <h1>BankBluffOBåg AB</h1>
  <p>Sveriges största internetbank</p>
</header>
