<!doctype html>
<meta charset="utf-8">
<title><%= title %></title>
<link rel="stylesheet" href="/style/style.css">
<link rel="icon" href="/favicon.ico">

<header id = "header">
    <nav class = "header-text">
        <a href="/bank/index">Bank välkomstsida</a> |
        <a href="/bank/login">Logga in</a> |
        <a href="/bank/register">Registrera dig</a> |
        <a href="/bank/swish">Swish</a> |
        <a href="/bank/dashboard">Dashboard</a> |
        <a href="/bank/accounts">Visa dina konton</a>
    </nav>
</header>
