<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="/style/style.css">

<nav class = "topnav">
    <a href="/bank/index">Startsida</a>
    <a href="/bank/customerList">Kunder</a>

    <% if (user) { %>
      <a href="/bank/swish">Swish</a>
      <a href="/bank/dashboard">*Instrumentpanel</a>
      <a href="/bank/accounts">Kontoöversikt</a>
      <a style="float:right" href="/bank/logout">Logga ut</a>
    <% } else { %>
            <a style="float:right"href="/bank/register">Registrera</a>
            <a style="float:right"href="/bank/login">Logga in</a>
    <% } %>

</nav>
