<%- include("../header", {title: title, user: user}); %>
<%- include("../nav"); %>


<div class="row">
  <div class="centercolumn">
    <div class="card">

      <h1>DASHBOARD PAGE</h1>
      <!-- Skriv ert skit här -->
    </div>
  </div>
</div>
<%- include("../footer"); %>
