<%- include("../header", {title: title}); %>

<h1>Välkommen till internetbank</h1>

<p>Vad vill du göra nu?</p>

<ul>
    <li><a href="/bank/Something">Something</a></li>
</ul>

<%- include("../footer"); %>
