<%- include("../header", {title: title}); %>

<h1>Välkommen till Internetbanken</h1>

<body>
    <div id = "container">
        <ul id = "link-tab">
            <li><a href="/bank/Something">Something</a></li>
            <li><a href="/bank/index">Bank välkomstsida</a></li>
            <li><a href="/bank/login">Logga in</a></li>
            <li><a href="/bank/register">Registrera dig</a></li>
            <li><a href="/bank/swish">Swish</a></li>
            <li><a href="/bank/dashboard">Dashboard</a></li>
            <li><a href="/bank/accounts">Visa dina konton</a></li>
        </ul>
    </div>
</body>

<%- include("../footer"); %>
