<%- include("../header", {title: title}); %>

<h1>Welcome to the internetbank</h1>

<p>What do you want to do?</p>

<ul>
    <li><a href="/bank/Something">Something</a></li>
</ul>

<%- include("../footer"); %>
