<%- include("../header", {title: title}); %>
<%- include("../nav"); %>
<div class="row">
  <div class="centercolumn">
    <div class="card2">
       <form class="frominput" method="post">
          <fieldset class="fieldsetinput">
              <h1>Logga in</h1>
              <legend></legend>

              <input id="idKund" type="text" name="idKund" placeholder="Idkund..">
              <br>
              <input id="pinkod" type="password" name="pinkod" placeholder="Pinkod..">
              <br>
              <input type="submit" name="doit" value="Lägg till">
          </fieldset>
       </form>
    </div>
  </div>
</div>

<%- include("../footer"); %>
