<%- include("../header", {title: title, user: user}); %>
<%- include("../nav"); %>
<body>

<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h2>BankBluffOBåg AB</h2>
      <h5>Title description, Dec 7, 2017</h5>
      <p>Vi är en bank som erbjuder enkla och smidiga banktjänster för privatpersoner och företag. Spara, betala och låna på det sätt som passar dig! Vi har även ett stort samhällsengagemang där vi bland annat satsar på unga.</p>
    </div>

    <div class="card">
      <h2>Bankens special konto</h2>

    </div>
  </div>

  <div class="rightcolumn">
    <div class="card">
      <h2>Bankpengar</h2>

    </div>

    <div class="card">
      <h3>Loggtabell</h3>
      <ul class = "user-tab">

       </ul>
    </div>
    </div>
  </div>
</div>

</body>
<%- include("../footer"); %>
