<%- include("../header", {title: title}); %>
<%- include("../nav"); %>
<div class="row">
  <div class="centercolumn">
    <div class="card2">
       <form class="frominput" method="post">
          <fieldset class="fieldsetinput">
              <h1>Ditt konto är nu registrerat</h1>
          </fieldset>
       </form>
    </div>
  </div>
</div>
<%- include("../footer"); %>
