<%- include("../header", {title: title}); %>
<%- include("../nav"); %>
<div class="row">
  <div class="centercolumn">
    <div class="card2">
       <form class="frominput" method="post">
          <fieldset class="fieldsetinput">
              <h1>Registerera kund</h1>
              <legend></legend>
              <input id="fornamn" type="text" name="fornamn" placeholder="Förnamn..">
              <br>
              <input id="efternamn" type="text" name="efternamn" placeholder="Efternamn..">
              <br>
              <input id="fodd" type="date" name="fodd" placeholder="Född..">
              <br>
              <input id="adress" type="text" name="adress" placeholder="Adress..">
              <br>
              <input id="ort" type="text" name="ort" placeholder="Ort..">
              <br>
              <input id="pinkod" type="number" name="pinkod" placeholder="Pinkod.." max="9999">
              <br>
              <input type="submit" name="doit" value="Lägg till">
          </fieldset>
       </form>
    </div>
  </div>
</div>
<%- include("../footer"); %>
