<%- include("../header", {title: title, user: user}); %>
<%- include("../nav"); %>

<div class="row">
  <div class="centercolumn">
    <div class="card2">

      <h1>SWISH</h1>

      <form class="frominput" method="post">
         <fieldset class="fieldsetinput">
              <h4>Välj vilket konto du ska skicka till sedan belopp.</h4>
              <p>Notera: Vi tar en administrativ kostand på 2% vid varje Swish</p>
              <legend></legend>
              <input id="ownId" type="number" name="ownId" placeholder="Ditt användare Id...">
              <br>
              <input id="pinkod" type="password" name="pinkod" placeholder="Din PIN-kod...">
              <br>
              <input id="franIdBankkonto" type="number" name="franIdBankkonto" placeholder="Ditt bankkonto nummer..">
              <br>
              <input id="tillIdBankkonto" type="number" name="tillIdBankkonto" placeholder="Mottagarens ID...">
              <br>
              <input id="transaktionsPeng" type="number" name="transaktionsPeng" placeholder="Summa..">
              <br>
              <input type="submit" name="doit" value="Swisha">
          </fieldset>
       </form>
    </div>
  </div>
</div>
<%- include("../footer"); %>
